@import 'layout';

.navbar {
    align-items: center;
    background-color: #364958;
    color: #fff;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    height: $navbar-height;
    padding: $margin-size;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}